In [2]:
# import libraries
import pandas as pd
import numpy as np

In [3]:
# import dataset
salary_test = pd.read_csv("D:/DATA SCIENCE/1. Data Scientist/Assignment/11.Naive Bayes/SalaryData_Test.csv")
salary_train = pd.read_csv("D:/DATA SCIENCE/1. Data Scientist/Assignment/11.Naive Bayes/SalaryData_Train.csv")

In [4]:
salary_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [5]:
salary_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
salary_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [20]:
salary_test.shape

(15060, 14)

In [13]:
# dtype= object
string_columns = ["workclass","education","maritalstatus","occupation","relationship","race","sex","native"]

In [14]:
# categoreical data is present, doing some prcessing on that data
from sklearn.preprocessing import LabelEncoder
number = LabelEncoder()
for i in string_columns:
    salary_train[i]= number.fit_transform(salary_train[i])
    salary_test[i]=number.fit_transform(salary_test[i])

In [16]:
# choosing perticular column names that will benifit for future process
colnames = salary_train.columns
colnames

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [21]:
len(colnames)

14

In [22]:
x_train = salary_train[colnames[0:13]]
y_train = salary_train[colnames[13]]
x_test = salary_test[colnames[0:13]]
y_test = salary_test[colnames[13]]

In [23]:
# Preparing a naive bayes model on training data set 
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

# Multinomial Naive Bayes
classifier_mb = MB()
classifier_mb.fit(x_train,y_train)
pred_mb = classifier_mb.predict(x_train)
accuracy_mb_train = np.mean(pred_mb == y_train)

In [24]:
accuracy_mb_train

0.7729186698053778

In [25]:
pd.crosstab(pred_mb, y_train)

Salary   <=50K   >50K
row_0
 <=50K   21717   5913
 >50K      936   1595

In [26]:
#Preparing a naive bayes model on testing data set 
pred_mb_test = classifier_mb.predict(x_test)
accuracy_mb_test = np.mean(pred_mb_test == y_test)

In [27]:
accuracy_mb_test

0.7749667994687915

In [28]:
pd.crosstab(pred_mb_test, y_test)

Salary   <=50K   >50K
row_0
 <=50K   10891   2920
 >50K      469    780

In [29]:
#Gaussian Naive Bayes 
classifier_gb = GB()
classifier_gb.fit(x_train, y_train)
pred_gb = classifier_gb.predict(x_train)
accuracy_gb_train = np.mean(pred_gb == y_train)

In [30]:
accuracy_gb_train

0.7953317197705646

In [31]:
pd.crosstab(pred_gb,y_train)

Salary   <=50K   >50K
row_0
 <=50K   21505   5025
 >50K     1148   2483

In [32]:
#bulid gaussian naive bayes for test data
pred_gb_train = classifier_gb.predict(x_test)
accuracy_gb_test = np.mean(pred_gb_train == y_test)

In [33]:
accuracy_gb_test

0.7946879150066402

In [34]:
pd.crosstab(pred_gb_train,y_test)

Salary   <=50K   >50K
row_0
 <=50K   10759   2491
 >50K      601   1209

In [ ]:
# Guassian naive bayes _ accuracy
# accuracy_gb_train = 0.7953317197705646
# accuracy_gb_test = 0.7946879150066402