In [ ]:
#  Apply the 2- proportion test

In [17]:
import pandas as pd
import numpy as np

In [18]:
data=pd.read_csv('D:/DATA SCIENCE/1. Data Scientist/Assignment/3. hypothesis testing/Faltoons.csv')

In [19]:
data.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

In [20]:
data.dtypes

Weekdays    object
Weekend     object
dtype: object

In [21]:
obj_df = data.select_dtypes(include=['object']).copy()
obj_df.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

In [22]:
obj_df[obj_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Weekdays, Weekend]
Index: []

In [23]:
obj_df["Weekdays"].value_counts()

Female    287
Male      113
Name: Weekdays, dtype: int64

In [24]:
obj_df["Weekend"].value_counts()

Female    233
Male      167
Name: Weekend, dtype: int64

In [ ]:
# we will try to find out whose proportion is higher. We create another hypothesis

In [ ]:
# Ho= Proportions of Male is less than or equal to Female
# Ha= Proportions of Male is greater than Female

In [25]:
cleanup_nums = {"Weekdays":{"Female": 0, "Male": 1},
                "Weekend": {"Female": 0, "Male": 1}}

In [26]:
obj_df = obj_df.replace(cleanup_nums)
obj_df.head()

   Weekdays  Weekend
0         1        0
1         0        1
2         0        1
3         1        0
4         0        0

In [27]:
obj_df.Weekdays.describe()

count    400.000000
mean       0.282500
std        0.450779
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Weekdays, dtype: float64

In [28]:
obj_df.Weekend.describe()

count    400.000000
mean       0.417500
std        0.493764
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Weekend, dtype: float64

In [29]:
d1=obj_df.Weekdays

In [30]:
d2=obj_df.Weekend

In [31]:
import statsmodels.api as sm
sm.stats.ttest_ind(d1,d2)

(-4.038383581687957, 5.9013879428528154e-05, 798.0)

In [32]:
#P-value <0.05 and hence we reject null. Hence proportion of Male is greater than Female.